# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Generated datasets
data/raw/GermPredDataset/**
data/crops/**
data/metadata/*.csv
data/metadata/*.json
!data/raw/README.md
!data/crops/**/.gitkeep
!data/metadata/.gitkeep

# Training outputs
outputs/checkpoints/**
outputs/logs/**
outputs/reports/**
outputs/figures/**
!outputs/**/.gitkeep

# Notebook checkpoints
.ipynb_checkpoints/

docs/phan_cong_cong_viec.md